<ul class='o-plain-list c-social-nav'>
  <li class='c-social-nav__item'>
    <a href='https://github.com/cohensharon' aria-label='Github' target='_blank' rel='noopener'>
      <span class='c-social-nav__icon' data-icon='ei-sc-github' data-size='s'></span>
    </a>
  </li>
  <li class='c-social-nav__item'>
    <a href='https://www.linkedin.com/in/cohensha/' aria-label='LinkedIn' target='_blank' rel='noopener'>
      <span class='c-social-nav__icon' data-icon='ei-sc-linkedin' data-size='s'></span>
    </a>
  </li>
  <li class='c-social-nav__item'>
    <a href='#https://www.instagram.com/cohenshar/' aria-label='Instagram' target='_blank' rel='noopener'>
      <span class='c-social-nav__icon' data-icon='ei-sc-instagram' data-size='s'></span>
    </a>
  </li>
  <li class='c-social-nav__item'>
    <a href='#' class='toggle-search-button js-search-toggle' aria-label='{{t "Search" }}'>
      <span class='c-social-nav__icon' data-icon='ei-search' data-size='s'></span>
    </a>
  </li>
</ul>